name: X Contracts Running
on:
  #schedule:
  #  - cron: "* * * * *"
  workflow_dispatch:
env:
  SLACK_WEBHOOK_URL: '${{ secrets.SLACK_WEBHOOK_URL }}'
jobs:
  check:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable
      - name: Run tests
        id: test
        run: forge test --mc ContractXTest -vvv
        continue-on-error: true
      - name: Notify Slack
        if: '${{ steps.test.outcome == ''failure'' }}'
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: '${{ secrets.SLACK_WEBHOOK_URL }}'
          webhook-type: incoming-webhook
          payload: >
            text: ":rotating_light: *Sanity Checks failed* on `${{
            github.ref_name }}`\n<${{ github.server_url }}/${{ github.repository
            }}/actions/runs/${{ github.run_id }}|Open workflow run>"
